.container {
    max-width: 1250px;
    margin: 0 auto;
}
.body__container {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.open {
    visibility: visible;
    opacity: 1;
    .modal__dialog {
        transform: scale(1);
    }
}
.exit {
    visibility: hidden;
    opacity: 0;
    .modal__dialog {
        transform: scale(0);
    }
}