@media (max-width: 1200px) {
    .header {
        &__name {
            display: none;
        }
    }
    .calc {
        &__left {
            &-title {
                font-size: 27px;
            }
        }
        &__right {
            &-top {
                &--img {
                    width: 50px;
                    height: 50px;
                }
                &--name {
                    font-size: 35px;
                    line-height: 35px;
                }
            }
        }
    }
    .advantages {
        &__item {
            width: 265px;
            min-height: 265px;
            &-img {
                width: 65px;
                height: 65px;
            }
            &-title {
                font-size: 19px;
            }
            &-descr {
                font-size: 15px;
            }
        }
    }
    .format {
        &__item {
            width: 265px;
            min-height: 265px;
            &-img {
                width: 65px;
                height: 65px;
            }
            &-title {
                font-size: 19px;
            }
            &-descr {
                font-size: 15px;
            }
        }
    }
    .conus {
        &__img {
            width: 100px;
            height: 100px;
        }
        &__text {
            font-size: 16px;
        }
        &__btn {
            width: 250px;
            height: 50px;
        }
        &__wrapper {
            height: 60px;
        }
    }
    .carpark {
        &__item {
            width: 220px;
            &-title {
                font-size: 20px;
            }
            &-descr {
                font-size: 14px;
            }
        }
    }
    .stages {
        &__btn {
            bottom: 200px;
            right: 70px;
            width: 420px;
            height: 60px;
        }
    }
}
@media (max-width: 993px) {
    .header {
        &__name {
            display: block;
            font-size: 14px;
            max-width: 210px;
            margin-right: 40%;
        }
        &__time, &__phone {
            display: none;
        }
        &__feedback {
            display: none;
        }
    }
    .hamburger {
        display: block;
    }
    .nav {
        height: 100vh;
        width: 70%;
        position: absolute;
        right: -100%;
        top: 0;
        transition: all .4s ease;
        &__list {
            position: absolute;
            height: 100vh;
            width: 70%;
            display: block;
            padding: 70px;  
            // height: 100vh;     
            &-item {
                margin-bottom: 20px;
                &--menu {
                    &::after {
                        left: -21px;
                    }
                    &::before {
                        left: -15px;
                    }
                }
                &--list {
                   padding-top: 2px;
                   top: 22px;
                   position: static;
                }
                &--el {
                    margin-bottom: 5px;
                }
            }    
        }
    }
    .calc {
        &__wrapper {
            flex-wrap: wrap;
        }
        &__left {
            width: 100%;
            max-width: 100%;
        }
        &__right {
            width: 100%;
            max-width: 100%;
        }
    }
    .advantages {
        &__item {
            padding: 22px 22px 32px 22px;
            width: 245px;
            min-height: 245px;
            &-img {
                width: 45px;
                height: 45px;
            }
            &-title {
                font-size: 16px;
            }
            &-descr {
                font-size: 12px;
            }
        }
    }
    .format {
        &__item {
            padding: 22px 22px 32px 22px;
            width: 245px;
            min-height: 245px;
            &-img {
                width: 45px;
                height: 45px;
            }
            &-title {
                font-size: 16px;
            }
            &-descr {
                font-size: 12px;
            }
        }
    }
    .conus {
        &__img {
            width: 100px;
            height: 100px;
        }
        &__text {
            font-size: 16px;
        }
        &__btn {
            width: 100%;
            height: 50px;
        }
        &__wrapper {
            flex-wrap: wrap;
            justify-content: center;
            height: 260px;
            padding: 15px 0 15px 0;
        }
    }
    .carpark {
        &__title {
            font-size: 35px;
        }
        &__descr {
            font-size: 20px;
        }
        &__img {
            min-height: 250px;
        }
        &__wrapper {
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
        }
        &__item {
            width: 282px;
            &-title {
                font-size: 26px;
            }
            &-descr {
                font-size: 20px;
            }
        }
    }
    .stages {
        &__bg {
            min-height: 555px;
        }
        &__title {
            max-width: 345px;
        }
        &__btn {
            bottom: 50px;
            right: 35px;
            width: 330px;
            height: 40px;
        }
    }
}

@media (max-width: 769px) {
    .header {
        &__logo {
            max-width: 100px;
            height: 45px;
        }
        &__name {
            margin-right: 30%;
        }
    }
    .advantages {
        &__wrapper {
            flex-wrap: wrap;
        }
    }
    .format{
        &__wrapper {
            flex-wrap: wrap;
        }
    }
    .carpark {
        &__title {
            font-size: 35px;
        }
        &__descr {
            font-size: 20px;
        }
        &__img {
            min-height: 185px;
        }
        &__wrapper {
            gap: 12px;
        }
        &__item {
            width: 174px;
            height: 152px;
            padding: 16px;
            &-title {
                font-size: 16px;
            }
            &-descr {
                font-size: 14px;
            }
        }
        &__link {
            width: 180px;
            height: 34px;
            &-img {
                width: 25px;
                height: 25px;
            }
            &-name {
                font-size: 12px;
            }
        }
    }
    .stages {
        &__bg {
            min-height: 427px;
        }
        &__title {
            font-size: 25px;
        }
        &__btn {
            bottom: 65px;
            right: 35px;
            width: 200px;
            height: 30px;
            font-size: 16px;
            padding: 0;
        }
    }
}
@media (max-width: 556px) {
    .header {
        &__logo {
            max-width: 70px;
            height: 30px;
        }
        &__name {
            font-family: 'Onest', sans-serif;
            font-weight: 500;
            font-size: 12px;
            line-height: 100%;         
            font-size: 12px;
            margin-right: 0;
            max-width: 170px;
        }
    }
    .nav {
        &__list {
            &-link {
                font-size: 14px;
            }
            &-item {
                &--menu {
                    font-size: 14px;
                    &:before {
                        top: 10%;
                    }
                    &::after {
                        top: 10%;
                    }
                }
                &--link {
                    font-size: 12px;
                }
            }
        }
    }
    .calc {
        &__wrapper {
            gap: 40px;
        }
        &__left {
            &-title {
                font-size: 20px;
            }
            &-descr {
                font-size: 16px;
                line-height: 100%;
            }
        }
        &__right {
            &-top {
                &--img {
                    width: 52px;
                    height: 50px;
                }
                &--name {
                    font-size: 24px;
                }
            }
            &-arrow {
                width: 45px;
                height: 35px;
            }
        }
    }
    .advantages {
        &__wrapper {
            flex-wrap: wrap;
        }
        &__item {
            padding: 22px 22px 32px 22px;
            width: 100%;
            min-height: 136px; 
            flex-direction: row; 
            gap: 10px;            
            &-img {
                width: 45px;
                height: 45px;
            }
            &-title {
                font-size: 20px;
                max-width: 100%;
                margin-bottom: 10px;
            }
            &-descr {
                font-size: 16px;
                max-width: 100%;
            }
        }
    }   
    .format {
        &__wrapper {
            flex-wrap: wrap;
        }
        &__item {
            padding: 22px 22px 32px 22px;
            width: 100%;
            min-height: 136px; 
            flex-direction: row; 
            gap: 10px;            
            &-img {
                width: 68px;
                height: 50px;
            }
            &-title {
                font-size: 20px;
                max-width: 100%;
                margin-bottom: 10px;
            }
            &-descr {
                font-size: 16px;
                max-width: 100%;
            }
        }
    } 
    .stages {
        &__bg {
            min-height: 306px;
        }
        &__title {
            font-size: 20px;
            color: $darkColor;
            top: 12px;
            left: 50%;
            transform: translateX(-50%);
        }
        &__btn {
            width: 300px;
            height: 40px;
            padding: 16px 18px;
            border-radius: 16px;
            font-size: 20px;
            bottom: 5px;
            right: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    } 
    .carpark {
        &__img {
            min-height: 134px;
        }
    }
}
@media (max-width: 450px) {
    .header {
        &__time, &__phone {
            display: none;
        }
    }
    .calc {
        &__right {
            &-top {
                &--img {
                    width: 40px;
                    height: 40px;
                }
                &--name {
                    font-size: 18px;
                    line-height: 100%;
                }
            }
        }
        &__chekboxs {
            &-item {
                &--label {
                    &::before {
                        width: 14px;
                        height: 14px;
                    }
                }
                &--name {
                    font-size: 14px;
                    line-height: 100%;
                }
            }
        }
    }
    .carpark {
        &__img {
            min-height: 100px;
        }
    }
    .stages {
        &__bg {
            min-height: 261px;
        }
        &__title {
            font-size: 14px;
            color: $darkColor;
            top: 12px;
            left: 50%;
            transform: translateX(-50%);
        }
        &__btn {
            width: 200px;
            height: 30px;
            padding: 0;
            border-radius: 16px;
            font-size: 14px;
            bottom: 35px;
            right: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    } 
    .format {
        &__item {
            &-img {
                width: 70px;
                height: 40px;
            }
        }
    }
}
@media (max-width: 380px) {
    .header {
        &__time, &__phone {
            display: none;
        }
    }
    .carpark {
        &__img {
            min-height: 50px;
        }
    }
    .stages {
        padding: 0;
    }
    .format {
        &__item {
            &-img {
                width: 90px;
                height: 40px;
            }
        }
    }
}