$blueColor: #1483DF;
$blueColor2: #9BC8FF;
$blueColor3: #3C6BE4;
$whiteColor: #FFFFFF;
$darkColor: #272E34;
$redColor: #FF4A4A;
$grayColor: #F7F7F7; 
$grayColor2: #EFEFEF; 
$colorLineBackground: #DFE4EA;