.branches {
    padding: 60px 15px;
    &__container {
        background-color: $whiteColor;
        padding: 42px 150px;
        max-width: 1440px;
    }  
    &__title {
        font-family: 'Onest', sans-serif;
        font-weight: 600;
        font-size: 44px;
        line-height: 102%;
        letter-spacing: -2px;
        text-align: left;
        color: $darkColor;
        margin-bottom: 20px;
    }
    &__subtitle {
        font-family: 'Onest', sans-serif;
        font-weight: 400;
        font-size: 27px;
        line-height: 113%;
        color: $darkColor;
        margin-bottom: 20px;
        max-width: 529px;
    }
    &__img {
        margin-bottom: 15px;
    }
    &__descr {
        height: 88px;
        border-radius: 16px;
        padding: 32px 16px;
        background-color: $grayColor;

    }
}