.calc {
    padding: 35px 15px 50px 15px;
    &__wrapper {
        @include wrapper;
        background-color: $whiteColor;
        border-radius: 16px;
        padding: 20px;
    }
    &__left {
        max-width: 610px;
        min-height: 531px;
        background-color: $grayColor;
        border-radius: 16px;
        padding: 25px;
        letter-spacing: -0.9px;
        &-title {
            font-family: 'Inter', sans-serif;
            font-weight: 700;
            font-size: 33px;
            line-height: 114%;
            color: $darkColor;
            margin-bottom: 22px;
            span {
                color: $whiteColor;
                background-color: $redColor;
                padding:0 4px 0 3px;
                border-radius: 6px;
            }
        }
        &-descr {
            font-family: 'Onest', sans-serif;
            font-weight: 400;
            font-size: 21px;
            line-height: 30px;
            color: $darkColor;
            margin-bottom: 22px;
        }
    }
    &__advantages {
        margin-bottom: 35px;
        &-item {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 6px;
            margin-bottom: 12px;
            &-img {
                width: 20px;
                height: 20px;
            }
            &-name {
                font-family: 'Onest', sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;                
                color: $darkColor;
            }
        }
    }
    &__btn {
        @include button;
        width: 100%;
        height: 81px;
        background-color: $blueColor;
        border-radius: 16px;
        font-family: 'Onest', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 100%;
        margin-bottom: 16px;
        &:hover {
            background-color: $redColor;
        }
    }
    &__info {
        font-family: 'Onest', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: $darkColor;
    }
    &__right {
        max-width: 600px;
        min-height: 531px;
        padding: 25px;
        background-color: $grayColor;
        border-radius: 16px;
        &-wrapper {
            overflow: hidden;
        }
        &-inner {
            display: flex;
            &--item {
                width: 100%;
                display: block;
                // &.active {
                //     display: block;
                // }
            }
        }
        &-top {
            display: flex;
            align-items: start;
            justify-content: start;
            gap: 24px;
            margin-bottom: 45px;
            &--img {
                max-width: 66px;
                max-height: 66px;
            }
            &--name {
                max-width: 434px;
                font-family: 'Onest', sans-serif;
                font-weight: 600;
                font-size: 43px;
                line-height: 45px;
                letter-spacing: -2px;
                color: $darkColor;
            }
        }
        &-query {
            font-family: 'Onest', sans-serif;
            font-weight: 500;
            font-size: 21px;
            line-height: 100%;
            color: $darkColor;
            margin-bottom: 28px;
        }
        &-progress {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 16px;
        }
        &-arrow {
            width: 45px;
            height: 45px;
            cursor: pointer;  
            background-color: $blueColor;
            border-radius: 100%; 
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 6px;
                height: 16px;
            }         
            &--prev {
                transform: rotate(-180deg);
                transition: all .4s ease;
                &:hover {
                    background-color: $blueColor2;
                }
            }
            &--next {
                transition: all .4s ease;
                transform: rotate(180deg);
                &:hover {
                    background-color: $blueColor2;
                }
            }
        }
        &-line {
            width: 391px;
            height: 20px;
            background-color: $colorLineBackground;
            border-radius: 20px;
            position: relative;
            &--bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 25%;
                height: 100%;
                border-radius: 20px;
                background-color: $blueColor;
                text-align: center;
                font-family: 'Inter', sans-serif;
                font-weight: 500;
                font-size: 12px;
                line-height: 20px;
                color: $whiteColor;
                transition: all .4s ease;
            }
        }
        &-feedback {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;
            &--item {
                width: 60px;
                height: 60px;
            };
            &--img {
                width: 38px;
                height: 38px;
            }
            &--name {
                font-size: 16px;
            }
        }
    }
    &__chekboxs {
        margin-bottom: 70px;
        &-item {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 8px;
            margin-bottom: 10px;
            &--name {
                font-family: 'Onest', sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: $darkColor;    
            }
        }
    }
}
