.conus {
    margin-bottom: 100px;
    width: 100%;
    background: linear-gradient( #00A1E3,  #3BD5E3);
    padding: 0 15px;
    &__wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // flex-wrap: wrap;
        height: 100px;
    }
    &__img {
        width: 160px;
        height: 150px;
    }
    &__text {
        font-family: 'Onest', sans-serif;
        font-weight: 500;
        font-size: 26px;
        line-height: 100%;
        color: $whiteColor;
    }
    &__btn {
        @include button;
        background-color: $redColor;
        width: 298px;
        height: 60px;
        border-radius: 16px;
        font-family: 'Onest';
        font-weight: 500;
        font-size: 26px;
        line-height: 100%;
        transition: all .4s ease;
        &:hover {
            background-color: $blueColor;
        }
    }
}