.nav {
    background-color: $darkColor;
    height: 68px;
    width: 100%;
    padding: 22px 15px;
    z-index: 50;
    &__list {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 70px;
        &-item {
            font-family: 'Inter';
            font-weight: 500;
            font-size: 20px;
            line-height: 122%;
            color: $whiteColor;            
            cursor: pointer;
            text-transform: uppercase;
            transition: all .4s ease;
            &--menu {
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: -19px;
                    width: 10px;
                    height: 2px;
                    transform: translate(-50%, -50%) rotate(45deg);
                    background-color: $grayColor;
                    transition: all .4s ease;
                }
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: -25px;
                    width: 10px;
                    height: 2px;
                    transform: translate(-50%, -50%) rotate(-45deg);
                    background-color: $grayColor;
                    transition: all .4s ease;
                }
                &:hover {
                    &:after {
                        background-color: $blueColor;
                    }
                    &::before {
                        background-color: $blueColor;
                    }
                }
            }           
            &:hover {
                color: $blueColor;
            }
            &--list {
                position: absolute;
                top: 45px;
                left: -25px;
                min-width: 248px;
                min-height: 236px;
                padding: 22px;
                background-color: $darkColor;     
                // visibility: hidden;
                // opacity: 0;   
                &.two {
                    width: 435px;
                }   
                &.three {
                    width: 354px;
                }     
            }
            &--el {
                margin-bottom: 32px;
            }
            &--link {
                font-family: 'Inter', sans-serif;
                font-weight: 300;
                font-size: 20px;
                line-height: 122%;
                color: $whiteColor;
                text-transform: capitalize;
                &:hover{
                    color: $blueColor;
                }
            }
        }
        &-link {
            color: $whiteColor;
            transition: all .4s ease;
            &:hover {
                color: $blueColor
            }
        }
    }
    &.open { 
        right: 0;                         
    }
}